<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<h1>목록 추가하기</h1>
<hr>

<form action="/create" method="POST">
    <table>
        <tr>
            <td><input type="text" name="seq" placeholder="seq"></td>
        </tr>
        <tr>
            <td><input type="text" name="writer" placeholder="writer"></td>
        </tr>
        <tr>
            <td><input type="text" name="subject" placeholder="subject"></td>
        </tr>
        <tr>
	    <td><input type="text" name="content" placeholder="content"></td>
	</tr>
        <tr>
       	    <td><input type="text" name="del_yn" placeholder="del_yn"></td>
	</tr>
        <tr>
    	    <td><input type="text" name="ins_user_id" placeholder="ins_user_id"></td>
	</tr>
        <tr>
            <td><input type="text" name="ins_date" placeholder="ins_date"></td>
	</tr>

    </table>
    <input type="submit" value="전송하기">
</form>
</body>
</html>
